.cronometer-row:first-child {
  border-top: 1px solid #f0f0f0;
}
.cronometer-row {
  border: #f0f0f0 solid 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
