.label {
  left: 5px;
  transform-origin: 0 100%;
  transform: rotate(90deg);
  margin: 0;
  font-size: 10px;
  position: relative;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.bar {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  height: 30px;
}
.percent {
  position: absolute;
  top: -40px;
  left: calc(50% - 10px);
  font-size: 10px;
  width: 20px;
  text-align: center;
}
.total {
  position: absolute;
  top: -20px;
  left: calc(50% - 10px);
  font-size: 10px;
  width: 20px;
  text-align: center;
}
