.counter {
  font-size: 10px;
  background-color: #d6796e;
  padding: 2px;
  position: relative;
  left: 6px;
  align-items: center;
  display: none;
  border-radius: 3px;
  color: white;
  font-weight: 500;
}
.cronometer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter.show {
  display: flex !important;
}
