.cronometer-table .cronometer-row:nth-child(3n + 1) .display {
  background-color: #6c87b6 !important;
}
.cronometer-table .cronometer-row:nth-child(3n + 2) .display {
  background-color: #d6796e !important;
}
.cronometer-table .cronometer-row:nth-child(3n + 3) .display {
  background-color: #b0ce7b !important;
}
.cronometer-table {
  padding: 2rem;
}
